<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!-- logImpl：日志实现
            STDOUT_LOGGING：控制台日志 -->
        <setting name="logImpl" value="LOG4J"/>
    </settings>
    <!-- 设置别名 -->
    <typeAliases>
        <package name="ruoxijun.pojo"/>
    </typeAliases>
    <!-- 注册Mapper.xml -->
    <mappers>
        <mapper class="ruoxijun.dao.UserMapper"/>
    </mappers>
</configuration>